/*          CSS Reset       */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------- Site styling ----------*/
header{
	width: 100%;
	height: 200px;
	background-color: grey;
}
.container{
	position: relative;
	width: 600px;
	height: 400px;
	background-color: yellow;
	margin: 0 auto;
	overflow: hidden;
}
.frame{
	position: relative;
	width: 3000px;
	height: 400px;
	/*overflow: hidden;*/
	left: -600px;
}
#pic1, #pic2, #pic3, #pic4, #pic5{
	display: inline;
	float: left;
	width: 600px;
	height: 400px;
	background-image: url("../images/image1.jpg");
	background-size: 600px 400px;
}
#pic2{
	background-image: url("../images/image2.jpg");
}
#pic3{
	background-image: url("../images/image3.jpg");
}
#pic4{
	background-image: url("../images/image4.jpg");
}
#pic5{
	background-image: url("../images/image5.jpg");
}
#button_left{
	position: absolute;
	top: 50%;
	left: 2%;
}
#button_right{
	position: absolute;
	top: 50%;
	right: 2%;
}
#button_left, #button_right{
	font-size: 30px;
	color: white;
	/*border-radius: 50%;
	width:26px;
	height: 26px;
	background-color: rgb(150,150,150);*/
}